
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Plan the Easy Trip</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restoranlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Uçuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Yapılacak Şeyler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Yol Arkadaşı</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider">
                            <ul class="rslides" id="slider1">
                                <li><img src="~/web/images/img1.jpg" alt=""></li>
                                <li><img src="~/web/images/img2.jpg" alt=""></li>
                                <li><img src="~/web/images/img3.jpg" alt=""></li>
                                <li><img src="~/web/images/img4.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Yurt İçi Tur Fırsatları</h3>
                    <p>
                        Türkiye’nin sayısız doğal ve tarihi güzelliklerini yerinde görmek ve bulunduğunuz bölgenin eşsiz iklimini
                        hissetmek için yurt içi turları ile konforlu bir yolculuk yapabilirsiniz. Dilerseniz ailenizle, dilerseniz
                        sevdiklerinizle planlayıp unutulmaz anlar yaşayabileceğiniz yurt içi turları, size ülkenin pek çok nadide bölgesini
                        görme imkanı sunuyor.Mükemmel kahvaltısı ile ünlü olan Karadeniz turları, Karadeniz’in yöresel tatlarını
                        deneyimleme imkanı sunuyor. Görülmeye değer alanlardan bir diğeri olan Kapadokya bölgesi de yılın her mevsimi
                        yoğun ziyaretçi alan bölgelerden bir tanesi oluyor. Kapadokya turları ile hayranlık uyandıran peri bacalarını
                        ziyaret edebilir, Kapadokya semalarında balon turu yaparak bu göz alıcı manzarayı farklı bir açıdan izleme
                        şansına sahip olabilirsiniz. Farklı bir deneyim arzu ederseniz, Kıbrıs turları, Göbeklitepe turları  da size uygun
                        seçenekler arasında bulunuyor. Eğlence anlayışı ve hareketli sokakları ile içinizi ısıtacak olan Kıbrıs’ta tatilin
                        keyfini çıkarabilirsiniz.
                    </p>
                </div>
                <div class="con-bot">
                    <div class="left">
                        <div class="bot-left">
                            <img src="~/web/images/kapadokya.jpg" width="300" height="360 " alt="" />
                        </div>
                        <div class="left-text">
                            <h4>Ankara Çıkışlı Kapadokya Turu <p>(27 Aralık - 29Aralık 2022)</p></h4>
                            <span class="doller">2.800 TL</span>
                            <p>
                                Kapadokya - Ihlara Vadisi - Derinkuyu Yeraltı Şehri - Göreme Açık Hava Müzesi - Paşabağ Turumuz, 05.00 Mesa Plaza Avm Önü, 05.15 Ankara Söğütözü Ulusoy Terminali Önü katılacak misafirlerimizle yolculuğumuz başlıyor.
                                @*1. Gün
                                    Ihlara Vadisi - Yeraltı Şehri - Paşabağları - Türk Gecesi - Zelve Mapping Gösterisi
                                    Turumuz, 05.00 Mesa Plaza Avm Önü, 05.15 Ankara Söğütözü Ulusoy Terminali Önü katılacak misafirlerimizle yolculuğumuz başlıyor.  Nevşehir – Niğde - Kayseri üçgenindeki doğal güzelliklerini 3917 m. yüksekliğindeki Erciyes Dağı ve 3268 m. yüksekliğindeki Hasan Dağı’na borçlu olan, Perslerin “Güzel Atlar Diyarı” diye adlandırdıkları Kapadokya bölgesine doğru yol alıyoruz. Sabah yolda alınan serbest kahvaltı sonrası, Tuz Gölü’nü panoramik olarak görüyoruz. Kapadokya’da ilk durağımız Melendiz Irmağının oluşturduğu, içerisinde güvercinlikler ve kaya kiliselerininde bulunduğu 14 km uzunluğundaki Ihlara Vadisi olacak. Ihlara Vadisi içinde yapacağımız yürüyüş esnasında Ağaçaltı Kilisesi ve Yılanlı Kiliseyi de görüyoruz. İkinci durağımız; düşman baskınlarından kaçan binlerce kişinin, aylarca yaşayabileceği bir mühendislik harikası olan Derinkuyu Yeraltı Şehri olacak. (Kaymaklı Yeraltı Şehri veya Özkonak Yeraltı Şehri). İnsanların yerin altında yaptıkları bu ilginç şehri gezerken hayranlığınızı gizleyemeyeceksiniz. Yeraltı kentinin hemen ardından Uçhisar istikametine doğru yol alıyoruz. Güvercinlik Vadisini ve Uçhisar Kalesi’nin fotoğrafını çekip öğle yemeğimiz için kaya oyma bir mekâna varıyoruz. Burada Kapadokya’nın meşhur pastırmalı kuru fasulyesini ve testi kebabını tatma imkânı buluyoruz. Otantik mekânda alacağımız yemeğin ardından çanak-çömleği ile meşhur Avanos’a gidiyoruz. Avanos’ta Kızılırmak’ı görüp, Kızılırmak’ın çamurundan yapılan çanak-çömleklere dair bilgi alıyoruz. Sonrasında çok başlı peribacalarının en güzel örneklerini göreceğiniz Paşabağ’da (Keşişler Vadisi) fotoğraf molası veriyoruz. Paşabağ’da peribacaları arasında dolaşıp fotoğraflar çektikten sonra ilginç peribacası oluşumlarını içerisinde barındıran, adını da deve şeklindeki peribacasından alan Develi Vadi (Dervent Vadisi) gezisini yapıyoruz. Ürgüp içinde yapacağımız panoramik tur sonrası Asmalı Konağı da dışardan görüp Şarap Mahzenlerini ve Kapadokya’nın lezzetli şaraplarını tatma imkânı buluyoruz. Günün sonunda ise Şapkalı Peribacalarının ve Kapadokya’nın simgesi olan Üç Güzeller Peribacalarını görüyoruz. Gezilerimizin bitiminde otelimize yerleşiyoruz. Zamanın kısıtlılığı ve programdaki yoğunluk nedeniyle otele akşam 17.30 civarı girilecektir. Bu nedenle kıymetli konuklarımızın bu duruma karşı hazırlıklı olmasında fayda vardır. Akşam yemeği ve konaklama otelimizde.  Akşam yemeği sonrasında dileyen misafirlerimizle Kapadokya turlarının olmazsa olmazlarından , yöreye özgü Türk Gecesi’ne veya Zelve Mapping Gösterisine gidiyoruz. (Ekstra)

                                    Sabah Kahvaltısı: Yol Üstü Tesislerde Ekstra Olarak Alınacak.
                                    Öğle Yemeği: Ekstra Olarak Alınacaktır.
                                    Akşam Yemeği: Otelde Alınacak Olup, Tur Ücretine Dâhildir.
                                    Konaklama: Grand Öztürk Otel vb.
                                    Rota: Ankara - Aksaray (215 km) Aksaray – Nevşehir (80 km) Bölge İçi Gezileri (70 km)
                                    Toplam Kat Edilecek Mesafe: 365Km
                                    Otele Giriş Saati: 17.00 (Yaklaşık)
                                    2. Gün
                                    Balon Turu - Göreme Açık Hava Müzesi - Hacıbektaş-ı Veli Dergahı
                                    Turumuz, otelde alacağımız (Kahvaltı öncesi BALON TURU,  ATV TURU veya DEVE TURU Ekstra etkinliklerine katılabilirler) açık büfe sabah kahvaltısı sonrasında valizlerimizle birlikte otelden ayrılarak başlıyor. İlk olarak Onyx Taş Atölyesine gidip taşların özellikleri ve işlenişlerine dair bilgiler alacağız. Onyx Taş Atölyesinden sonra eski adı Korama olan Göreme Vadisi içindeki Göreme Açık Hava Müzesi’ni geziyoruz. Kaya kiliseleri (Elmalı, Yılanlı, Çarıklı Kiliseleri), yemekhane, mutfak, kiler ve İncil’in baştan sona resmedildiği Tokalı Kilisesi müzede göreceğimiz yerler arasında olacak. Göreme Açık Hava Müzesi gezisinin ardından Horasan’da dünyaya gelen, 13.yy’dan bugüne evrensel görüşleriyle her kesimi kucaklayan, Yeniçerilerin de Piri, Hacıbektaş-ı Veli’nin Türbesinin bulunduğu Hacıbektaş ilçesine gidiyoruz. Hacı Bektaş-i Veli Müzesinde; Balım Sultan Türbesi, Güvenç Abdal Türbesi, Hacı Bektaş-i Veli Türbesi, Kırklar Meydanı, Pir Evi, Üçüncü Avlu, Kiler Evi, Meydan Evi, Meydan Evi Camii, Aş Evi, İkinci Avlu (Dergâh Avlusu), Birinci Avlu’yu (Nadar Avlusu) gezip Ankara'ya doğru yola çıkıyoruz. Akşam saatlerinde diğer turlarımızda tekrar görüşmek üzere siz sayın misafirlerimizi aldığımız noktalara bırakıyoruz.Hoşçakalın.

                                    Sabah Kahvaltısı: Otelde Alınacak Olup Tur Ücretine Dâhildir.
                                    Öğle Yemeği: Ekstra Olarak Alınacaktır.
                                    Akşam Yemeği: Yol Üstü Mola Tesisimizde Ekstra Olarak Alınacaktır.
                                    Konaklama: DİKKAT BU GECE OTEL KONAKLAMASI YOKTUR.
                                    Rota: Bölge içi geziler (50 km) Nevşehir – Kırşehir (85 km) Kırşehir – Ankara (190 km)
                                    Toplam Kat Edilecek Mesafe: 325 Km
                                    Toplam Tur Mesafesi: 690 Km
                                    Varış Saati: 19.00 - 20.00 Arası
                                    Tur Kalkış Noktaları
                                    05:00 Ankara Mesa Plaza Önü
                                    05:15 Ankara Söğütözü Ulusoy Terminal Önü*@
                            </p>
                            <p><a href="#"><span class="read">Devamını Oku  >></span></a></p>
                        </div>
                    </div>
                    <div class="left">
                        <div class="bot-left">
                            <img src="~/web/images/Salda Gölü.jpg" width="300" height="360" alt="" />
                        </div>
                        <div class="left-text">
                            <h4>Pamukkale Salda Turu <p>(30 Aralık - 3 ocak 2023)</p></h4>
                            <span class="doller">3.900 TL </span>
                            <p>
                                Salda Gölü - Hierapolis - Bağbaşı Yaylası - PamukkaleTurumuz, 22.00 Yenibosna Airport Avm Otoparkı - 22.30 Şişli Prontotour Merkez Ofis Önünden hareket ile gece yolculuğumuza başlıyoruz.
                                @*1. Gün
                                    Gece Yolculuğu
                                    Turumuz, 22.00 Yenibosna Airport Avm Otoparkı - 22.30 Şişli Prontotour Merkez Ofis Önü - 23.30 Kadıköy Tepe Nautilus AVM Yanı (Ayrılık Çeşme Metro İstasyonu İspark Otoparkı)- 23.45 Kartal Köprüsü ( E-5 Ankara Yönü) - 00.00 Gebze Center Avm Önünden hareket ile gece yolculuğumuza başlıyoruz.
                                    2. Gün
                                    Salda Gölü - Salda Kayak Merkezi
                                    Turumuz, 00.30 İzmit Halk Evi Durağı Önü(İzmit - Adapazarı yönünden), Adapazarı Otogar Önünden sizleri otobüsümüze alıyoruz. Salda Gölü'ne doğru yolculuğumuza devam ediyoruz. Sabah yolda aldığımız ekstra serbest kahvaltının ardından Türkiye’nin Maldivleri olarak bilinen Salda Gölüne gidiyoruz. Bembeyaz görüntüsü ile sizleri büyüleyecek Salda Gölünde yapacağımız gezimizin ardından Salda Gölüne hakim bir noktada olup, manzara tam bir doğa harikası niteliğinde Salda Kayak merkezine hareket ediyoruz. Burada rehberimizin verdiği molanın sonrasında otelimize hareket ediyoruz. Yeni yıla eğlenerek girmek isteyen misafirlerimizle otelimizin yeni yıl eğlencesine katılıyoruz (Ekstra).

                                    Sabah Kahvaltısı: Yol Üstü Mola Tesislerinde Ekstra Olarak Alınacaktır.
                                    Öğle Yemeği: Rehberin Tavsiye Edeceği Restaurantta Ekstra Olarak Alınacaktır.
                                    Akşam Yemeği: Otelde Alınacaktır. Tur Ücretine Dahildir.
                                    Konaklama: Denizli Anemon, Denizli North Point Otel vb.
                                    Mola Tesisleri: Bozüyük Tesisleri, Afyon Tesisleri
                                    Rota: İstanbul – Salda Gölü (610 km) Salda Gölü - Pamukkale (100 km)
                                    Toplam Kat Edilecek Mesafe: 610 Km
                                    Otele Giriş Saati: 18.00
                                    3. Gün
                                    Balon Turu(Ekstra) - Hierapolis Antik Kenti - Pamukkale - Bağbaşı Yaylası Teleferik Turu
                                    Turumuz, sabah otelimizde alacağımız geç kahvaltı sonrasında (Kahvaltı öncesi dileyen misafirlerimiz ekstra BALON TURU veya Yamaç Paraşütü etkinliklerine katılabilirler), travertenler gezimiz ile güne başlıyoruz. Travertenlerin fotoğraflarını çekip, bu doğa harikasında yürüyüş yapabilirsiniz. Anadolu’nun en büyük antik mezarlığını içinde barındıran Hierapolis Antik Kenti’ni de rehberimiz eşliğinde geziyoruz. Burada göreceğimiz yerler arasında; Büyük Kilise, Antik Havuz, Apollon Tapınağı, Nymphaeuma (Anıt Çeşme), Antik Tiyatro, Sütunlu Cadde, Bizans Kapısı, Roma Zafer Kapısı, olacaktır. Sonraki gezi noktamız Denizli merkezden 1400 mt yüksekliğe yeni kurulmuş olan teleferik sistemiyle Bağbaşı Yaylası’na çıkıyoruz. Yayla havasının tadını çıkararak çaylarımızı yudumluyoruz. Küçük bir yürüyüş yaptıktan sonra teleferikle şehir merkezine geri dönüyoruz. Ardından İstanbul Dönüş yolculuğuna başlıyoruz. Bir başka acente organizasyonunda buluşmak üzere siz değerli misafirlerimizi aldığımız noktalara bırakarak üzülerek sizlerle vedalaşıyoruz. Hoşcakalın



                                    Sabah Kahvaltısı: Otelde Alınacaktır. Tur Ücretine Dâhildir

                                    Öğle Yemeği: Rehberimizin Tavsiye Edeceği Bir Noktada Ekstra Olarak Alınacaktır.

                                    Akşam Yemeği: Rehberimizin Tavsiye Edeceği Bir Noktada Ekstra Olarak Alınacaktır.

                                    Konaklama: DİKKAT BU GECE OTEL KONAKLAMASI YOKTUR.

                                    Rota: Denizli Çevre Gezileri (40 km) Denizli - İstanbul (610 km)

                                    Toplam Kat Edilecek Mesafe: 650 Km

                                    Toplam Kat Edilecek Mesafe: 1270 Km
                                    Tur Kalkış Noktaları
                                    22.00 Yenibosna Airport Avm Otoparkı
                                    22.30 Şişli Prontotour Merkez Ofis Önü
                                    23.30 Kadıköy Tepe Nautilus AVM Yanı (Ayrılık Çeşme Metro İstasyonu İspark Otoparkı)
                                    23.45 Kartal Köprüsü ( E-5 Ankara Yönü)
                                    00.00 Gebze Center Avm Önü
                                    00.30 İzmit Halk Evi Durağı Önü (İzmit - Adapazarı yönünden)
                                    Açıklamalar
                                    *Rezervasyon esnasında kesinlikle Koltuk Numarası sözü ve garantisi verilemez.
                                    *Rehber gerekli gördüğü takdirde, tüm programı gerçekleştirmek kaydı ile zamanlama ve program akışı konusunda değişiklik yapma hakkına sahiptir.
                                    *Programda belirtilen oteller standartları ve mevkileri bakımından aynı olmak kaydı ile değiştirilebilir.
                                    *Turumuzda rehberlik, ulaşım, konaklama ve çevre gezileri paket programdır. Ayrı düşünülemez.
                                    *Yeterli çoğunluk sağlanamadığı takdirde tur iptal olur. Böyle bir durumda acente misafirlerine *1(bir) gün öncesinden bizzat haber vermekle yükümlüdür.
                                    *Çocuk indirimi iki yetişkin yanında uygulanır.
                                    *Tek bir çocuk için kullanılır.
                                    *En son sirkü bir öncekini geçersiz kılar.
                                    *Program zamanlamasında hava, yol vb. nedenlerle rehber gerekli gördüğü taktirde değişiklik yapabilir. Turlarımızda kullanılan araç tipleri kişi sayılarına göre aşağıdaki şekilde sınıflandırılır.
                                    *Her turumuzda bulunan kişi sayısına göre aşağıda bulunan araç tipleri tayin edilir.
                                    *Otobüsler: 28-46 kişi sayılarında kullanılır.
                                    *Mercedes Travego-Tourismo 46+1+1 koltuklandırma, abs, asr, klima, 2 adet monitör, 2 adet buzdolabı, su ısıtıcılı mutfak ünitesi, okuma lambaları, rehber anonsu için ses sistemi, cd ve dvd oynatıcı (cep telefonu kullanılabilir)
                                    *Neoplan Cityliner-Tourliner 46+1+1 koltuklandırma, abs, asr, klima, 2 adet monitör, 2 adet buzdolabı, su ısıtıcılı mutfak ünitesi, okuma lambaları, rehber anonsu için ses sistemi, cd ve dvd oynatıcı (cep telefonu kullanılabilir)
                                    *Mitsubishi Safir 54+1+1 koltuklandırma, abs, asr, klima, 2 adet monitör, 2 adet buzdolabı, su ısıtıcılı mutfak ünitesi, okuma lambaları, rehber anonsu için ses sistemi, cd ve dvd oynatıcı (cep telefonu kullanılabilir)
                                    *Midibüsler: 17-27 kişi sayılarında kullanılır. Isuzu Turkuaz 31+1 koltuklandırma, yatar otobüs koltuklu, abs, asr, klima, 1 adet monitör, 1 adet buzdolabı, su ısıtıcılı mutfak ünitesi, okuma lambaları, rehber anonsu için ses sistemi, cd ve dvd oynatıcı.
                                    *Minibüsler: 16’ya kadar kişi sayılarında kullanılır. Vw Volt 12+1 koltuklandırma, özel tasarlanmış yatar otobüs deri koltuklu, abs, asr, klima, 1 adet buzdolabı, okuma lambaları, rehber anonsu için ses sistemi, cd ve dvd oynatıcı. Vw Volt El 16+1 koltuklandırma, özel tasarlanmış yatar otobüs deri koltuklu, abs, asr, klima, 1 adet buzdolabı, okuma lambaları, rehber anonsu için ses sistemi, cd ve dvd oynatıcı.
                                    *Mercedes Sprinter 12+1 koltuklandırma, özel tasarlanmış yatar otobüs deri koltuklu, abs, asr, klima, 1 adet buzdolabı, okuma lambaları, rehber anonsu için ses sistemi, cd ve dvd oynatıcı.
                                    *Mercedes Sprinter El 16+1 koltuklandırma, özel tasarlanmış yatar otobüs deri koltuklu, abs, asr, klima, 1 adet buzdolabı, okuma lambaları, rehber anonsu için ses sistemi, cd ve dvd oynatıcı.*@
                            </p>
                            <p><a href="#"><span class="read">Devamını Oku  >></span></a></p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="bot-left">
                            <img src="~/web/images/indir.jpg" width="300" height="360" alt="" />
                        </div>
                        <div class="left-text">

                            <h4> İzmir’den Uçaklı Mardin - Hasankeyf - Diyarbakır Turu<p>(25 Ocak - 28 Ocak 2022)</p></h4>
                            <span class="doller">3.450 TL</span>
                            <p>
                                Mardin - Dara Antik Kenti - Mor Gabriel Manastırı - Hasankeyf - MalabadiTurumuz, 06.00’da hareket edecek olan Sun Express ile İzmir – Diyarbakır uçağı ile Diyarbakır'a hareket ediyoruz.
                                @*1. Gün
                                    Diyarbakir - Sülüklü Han - Cemil Paşa Konaği - Zerzevan Kalesi - Mardin - Tarihi Sokaklar
                                    Turumuz, Havalimanına kendi imkânlarımızla gelerek başlıyor. Misafirlerimizin en geç saat 04.00’da İzmir Adnan Menderes Havalimanınad olması gerekmektedir. Havaalanında nüfus cüzdanı ya da ehliyet ile uçağımıza c/ın işlemlerimi yapıyoruz. Güvenlik kontrolünden geçerek 06.00’da hareket edecek olan Sun Express ile İzmir – Diyarbakır uçağı ile Diyarbakır'a hareket ediyoruz. Diyarbakır'da bizi bekleyen aracımıza binerek ilk olarak şarkılarda ismide geçen İlk olarak Diyarbakır'da edebiyat dünyamızın önemli isimlerinden 35 yaş şiiri ile tanınan, Cahit Sıtkı Tarancı’nın doğduğu ve şu anda müze olarak hizmet veren evi geziyoruz. Bu ev aynı zamanda Diyarbakır sivil mimarisinin de en güzel örneğidir. Sur içerisinde İslam tarihinin en eski camilerinden olduğuna inanılan Anadolu’da kurulan V.Haremi Şerif olan Diyarbakır Ulu Camiini geziyoruz. Yapım tarihi ve yaptıran uygarlığın bilinmediği, 9000 yıllık bir tarihe sahip olduğu bilinen Diyarbakır surlarının en eskisi olan Keçi Burcuna çıkıyoruz. Buradan Dicle Nehrine doğru baktığımızda Dicle Nehrinin üstüne kurulu 10 Gözlü Köprüyü, Hevsel Bahçelerini görüp, fotoğraflıyoruz. Sonrasında günümüzde Kent Müzesi olarak açılan yaklaşık 130 yıllık Cemil Paşa Konağı'nı ziyaret ediyoruz. Sülüklü Han'da yorgunluk çaylarımızı içiyoruz. Mardin Kapıyı, Yeni Kapı’yı panoramik olarak gördükten sonra Mardin'a hareket ediyoruz. Yolumuz üzerinde Unesco tarafından Dünya Geçici Miras Listesine dahil edilen Zerzevan Kalesi'ni ziyaret ediyoruz. Zerzevan Kalesi askeri yerleşimi, yer altı ve yerüstü yapıları ile dünyanın en iyi korunmuş Roma garnizonlarındandır. Burada göreceğimiz yerler ise; Güney Kule, Kilise, Cephanelik, Su Sarnıçları, Konutlar, Nekropol Alanı ve Mithraeum olacaktır. Kale gezimizin ardından taşın dile geldiği masal şehir; Mardin'e hareket ediyoruz. Eski Mardin'de turumuzu yürüyerek gerçekleştiriyoruz. Rehberimiz eşliğinde yaptığımız yürüyüşte göreceğimiz yerler; Latifiye Camii, Ulu Camii, Revaklı Çarşı, Bakırcılar Çarşısı, Şatana Ailesi Evi, Şehidiye Camii, Tarihi Evler, Abbaralar, Eski Hükümet Konağı olacaktır. Mardin gezimizin ardından aracımız ile buluşarak otelimize hareket ediyoruz. İsteyen misafirlerimiz ile eğlenmek ve akşam yemeği için eski Maardin'e hareket ediyoruz (Ekstra).


                                    2. Gün
                                    Haberli Süryani Köyü - Mağara Ezidi Köyü - Kafro Köyü - Dara Antik Kenti - Beyaz Su Mesire Yeri - Midyat
                                    Turumuz,  sabah otelimizde alacağımız  kahvaltı sonrasında, Mezopotamya Ovasını yukarıdan görebileceğimiz Kasımiye Medresesi'ne gidiyoruz. Bu tarihi yapıyı gezdikten sonra Doğu'nun Efes'i olarak adlandırılan Dara Antik Kentine hareket ediyoruz. Tarihte Yukarı Mezopotamya'nın en önemli yerleşim yerlerinden birisi olan Dara Antik Kentinde; Su Sarnıçları, Tarihi Taş Ocağı ve Mezarlığı görüyoruz. Antik kent gezimizin ardından Nusaybin üzerinden Beyazsu'ya hareket ediyoruz. Beyazsu, Mardin’in kurak ve ağaçsız coğrafyasında, serin ve berrak suyu, yöreye özgü ağaçları ve yeşilliği ile vaha gibidir. Su kenarında içeceğimiz çay ve kahvelerimizin ardından  sonra Pizza Köy olarak ünlenen, eski bir Süryani Köyüde olan Kafro köyünde kısa bir mola veriyoruz. Ardından Midyat'ta vereceğimiz yemek molasının ardından Süryani yerleşimi olan Haberli Köyü'ne (Basibrin) hareket ediyoruz. Bu köy 3 patrik, 3 patrik yardımcısı ve 31 metropolit çıkarmış köyde açık olan kiliseyi ziyaret ettikten sonra terkedilmiş Mağara Köyü'ne (Kiwex) gidiyoruz. Zamanında Ezidi yerleşim yeri olup günümüzde tamamen terkedilmiş köyde mezarlık ve eski yerleşim yerini gezdikten sonra köyden ayrılıyoruz. Midyat'taki otelimize yerleşiyoruz.
                                    3. Gün
                                    Mor Gabriel Manastırı - Telkari Çarşıları - Hasankeyf - Malabadi Köprüsü
                                    Turumuz, otelde alacağımız sabah kahvaltısının ardından, Yunanistan Athos Dağı'nda kurulu herhangi bir manastırdan en az 400 yıl daha eski olan Mor Gabriel Manastırı'na (Deyrulumur) hareket ediyoruz. 2021 yılında UNESCO tarafından Dünya Mirası Geçici Listesi'ne dahil edilen Tur Abdin'deki dokuz kilise ve manastırdan biri olan manastır gezimizin ardından Yukarı Mezopotamya'nın bir parçası olan tarihi Midyat'a hareket ediyoruz. Rehberimiz tarafından Midyat'a özgü, gümüş işleme sanatı olan telkariden yapılmış hediyelik eşyaları ve takıları almanız için çarşılarda serbest zaman veriyor. Ardından eski yerleşim yeri baraj suları altında kalan Hasankeyf'e hareket ediyoruz. Hasankeyf'de Zeynel Bey Türbesi önünde Hasankeyf Kalesi'ni de görerek rehberimiz tarafından buranın tarihini dinliyoruz. Eski yerleşim yerinden buraya taşınan Sultan Süleyman Camii Minaresi, İmam Abdullah Zaviyesi panoramik olarakta gördükten sonra petrol diyarı Batman'a hareket ediyoruz. Batman şehir merkezi üzerinden şarkılarda ismide geçen Tarihi Malabadi Köprüsü'ne hareket ediyoruz. Günümüze ulaşan en büyük kemer açıklığına sahip taş kemer köprüsünü fotoğrafladıktan sonra   23.00’da Diyarbakır'dan kalkacak olan Sun Ekspres Havayollarına ait olan uçağımız ile İzmir'e hareket ediyoruz. Siz değerli misafirlerimiz ile bir sonraki gezimizde buluşmak üzere, üzülerek sizlerle vedalaşıyoruz. Hoşcakalın…


                                    Tur Kalkış Noktaları
                                    04.00’da İzmir Adnan Menderes Havalimanı
                                    Açıklamalar
                                    Önemli Notlar
                                    **Bütün uçaklı paketlerimizde havayolu, havalimanı ve uçak saati değişikliği yapılabilir. Bu bilgilendirmeler sizlere turdan 2 gün önce gönderilecektir.

                                    *Rezervasyon esnasında kesinlikle Koltuk Numarası sözü ve garantisi verilemez.
                                    *Rehber gerekli gördüğü takdirde, tüm programı gerçekleştirmek kaydı ile zamanlama ve program akışı konusunda değişiklik yapma hakkına sahiptir.
                                    *Programda belirtilen oteller standartları ve mevkileri bakımından aynı olmak kaydı ile değiştirilebilir.
                                    *Turumuzda rehberlik, ulaşım, konaklama ve çevre gezileri paket programdır. Ayrı düşünülemez.
                                    *Yeterli çoğunluk sağlanamadığı takdirde tur iptal olur. Böyle bir durumda acente misafirlerine *1(bir) gün öncesinden bizzat haber vermekle yükümlüdür.
                                    *Çocuk indirimi iki yetişkin yanında uygulanır.
                                    *Tek bir çocuk için kullanılır.
                                    *En son sirkü bir öncekini geçersiz kılar.
                                    *Program zamanlamasında hava, yol vb. nedenlerle rehber gerekli gördüğü taktirde değişiklik yapabilir. Turlarımızda kullanılan araç tipleri kişi sayılarına göre aşağıdaki şekilde sınıflandırılır.
                                    *Her turumuzda bulunan kişi sayısına göre aşağıda bulunan araç tipleri tayin edilir.
                                    *Otobüsler: 28-46 kişi sayılarında kullanılır.
                                    *Mercedes Travego-Tourismo 46+1+1 koltuklandırma, abs, asr, klima, 2 adet monitör, 2 adet buzdolabı, su ısıtıcılı mutfak ünitesi, okuma lambaları, rehber anonsu için ses sistemi, cd ve dvd oynatıcı (cep telefonu kullanılabilir)
                                    *Neoplan Cityliner-Tourliner 46+1+1 koltuklandırma, abs, asr, klima, 2 adet monitör, 2 adet buzdolabı, su ısıtıcılı mutfak ünitesi, okuma lambaları, rehber anonsu için ses sistemi, cd ve dvd oynatıcı (cep telefonu kullanılabilir)
                                    *Mitsubishi Safir 54+1+1 koltuklandırma, abs, asr, klima, 2 adet monitör, 2 adet buzdolabı, su ısıtıcılı mutfak ünitesi, okuma lambaları, rehber anonsu için ses sistemi, cd ve dvd oynatıcı (cep telefonu kullanılabilir)*@
                            </p>
                            <p><a href="#"><span class="read">Devamını Oku >></span></a></p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="grids">
                    <div class="box1">
                        <div class="padding">
                            <h4>Hafta'nın En İyi 10'u</h4>
                            <ul class="list list-pad">
                                <li class="list-bg"><span>1.</span><a href="#">Pamukkale Travertenleri, Pamukkale Denizli</a></li>
                                <li class="list-bg1"><span>2.</span><a href="#">Aspendos Antik Tiyatrosu, Serik Antalya</a></li>
                                <li class="list-bg"><span>3.</span><a href="#">Arslantepe Höyüğü, Battalgazi Malatya</a></li>
                                <li class="list-bg1"><span>4.</span><a href="#">Akdamar Adası, Gevaş Van </a></li>
                                <li class="list-bg"><span>5.</span><a href="#">Cennet Cehennem Mağaraları, Silifke Mersin</a></li>
                                <li class="list-bg1"><span>6.</span><a href="#">Eğirdir Gölü, Eğirdir Isparta</a></li>
                                <li class="list-bg"><span>7.</span><a href="#">Salda Gölü, Yeşilova Burdur</a></li>
                                <li class="list-bg1"><span>8.</span><a href="#">Antakya Arkeoloji Müzesi, Antakya Hatay</a></li>
                                <li class="list-bg"><span>9.</span><a href="#">Side Antik Kenti, Manavgat Antalya</a></li>
                                <li class="list-bg1"><span>10.</span><a href="#">İshak Paşa Sarayı, Doğubayazıt Ağrı</a></li>
                            </ul>
                            <a href="#" class="link1">Tüm Otelleri Gör</a>
                        </div>
                        <div class="padding1">
                            <h4>Favori Yerler</h4>
                            <div class="box-left">
                                <div class="bot-img">
                                    <img src="~/web/images/rize.jpg" height="150" width="200" />
                                </div>
                                <div class="bot-desc">
                                    <p>Rize, Türkiye'nin kuzeydoğusunda yer alan ve Karadeniz'e sahili olan bir ildir. Türkiye'nin en çok yağış alan ilidir. En önemli ürünü çaydır. </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="~/web/images/malatya.jpg" height="150" width="200" />
                                </div>
                                <div class="bot-desc">
                                    <p>Malatya, Türkiye'deki 81 ili oluşturan illerden birisidir. Doğu Anadolu Bölgesi'nin Yukarı Fırat Bölümü'nde bulunur. Bulunduğu konumda bölgenin en gelişmiş şehridir. </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="~/web/images/antalya.jpg" height="150" width="200" alt="" />
                                </div>
                                <div class="bot-desc">
                                    <p>Antalya ili, Türkiye'nin güneyinde, merkezi Akdeniz kıyısında olan bir turizm merkezidir.Kuzeyinde; Burdur, Isparta, Konya, doğusunda; Karaman, Mersin, batısında; Muğla illeri vardır. Güneyi, Akdeniz ile çevrelenmiştir.  </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="box1-left">
                                <div class="bot-img">
                                    <img src="~/web/images/izmir.jpg" height="150" width="200" alt="" />
                                </div>
                                <div class="bot-desc1">
                                    <p>Türkiye'nin üçüncü büyük şehri olan İzmir, çağdaş, gelişmiş, ayni zamanda işlek bir ticaret merkezidir. </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="~/web/images/urfa.jpg" height="150" width="200" alt="" />
                                </div>
                                <div class="bot-desc1">
                                    <p>Şanlıurfa, halk arasındaki kısa adıyla Urfa veya eski çağlarda bilinen adıyla Edessa, Türkiye'nin bir ili ve en kalabalık sekizinci şehridir. </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="~/web/images/çanakkale.jpg" height="150" width="200" alt="" />
                                </div>
                                <div class="bot-desc1">
                                    <p>Çanakkale; Balkan Yarımadası'nın Doğu Trakya topraklarına bir kıstakla bağlanmış Gelibolu Yarımadası ile, Anadolu'nun batı uzantısı olan Biga Yarımadası üzerinde toprakları bulunan bir ilimizdir. </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


